*.DS_Store
*.iml
*.plan
*.terraform
*.tfstate*
*.log
*.lock.info
*/ssh_keys/*
clusters/*
!clusters/aks-samplecluster.example.com
!clusters/azure-samplecluster-dev.example.com
!clusters/azure-samplecluster-prd.example.com
